---
layout: home
title: Home
---

<div>
  <center>
    <h1>Ankit Solanki</h1>
  </center>
  <center><img src="/space/img/ankitr.jpg" width="200px" height="200px" style="border-radius: 50%;"></center>
  <div style="text-align: left;">
  <ul>
  	<li>
  	Ankit is currently studying in <b>Indian Institute of Technology, Delhi (IIT-D) in computer science and engineering (CS&E)</b>.
  	</li>
  	<li>
  	Ankit has an <b>INTP-T</b> personality type (MBTI).
  	</li>
  	<li>
  	Ankit likes to express <b>intense</b> feeling in rhythmic words. His peotic works can be found <a href="{{ '/writings' | prepend: site.baseurl }}">here</a>.
  	</li>
  	<li>Ankit have an interest in <b>abstract absurdism, existentialism, and psycho-philosophy</b>.</li>
  	<li>
  	Ankit is a <b>typical movie fanatic</b> and <b>music lover</b>, he listens to almost all genres but is really interested in heavy metal.
  	</li>
  	<li>Ankit likes the color <b>navyblue</b>, the <b>rainy</b> weather, <b>tall</b> girls and the word <b>'exist'</b>.</li>
  </ul>
</div>
</div>
<center>
<!--- personal values-->
<div>
	<hr style="opacity: 0.4;">
	<h2>Personal Values</h2>
	<div style="text-align: left;">
	<ul>
		<li>Listen to everyone and then disregard it.</li>
		</li>
		<li>
			One-eighty turns are appreciated and discouraged.
		</li>
		<li>
			Don't get wet in every rain you seem to see.
		</li>
		<li>
			Drink cool water and allocate your attention out of toxic social behavior.
		</li>
		<li>
			Consider the possiblity that life can be meaningless and then be positive and stay inspired from an idea.
		</li>
		<li>
			Have great friends, but don't get lonely when you are alone - Sartre.
		</li>
	</ul>
	</div>
</div>

<!-- social network -->
<div>
<hr style="opacity: 0.4;">
<br>
	<h2>Social Networks</h2>
</div>
<div class="socials">
	{% if site.twitter_username %}
	    <a href="https://twitter.com/{{ site.twitter_username }}">
	      <i class="fa fa-twitter"></i> 
	    </a>
	{% endif %}
	{% if site.github_username %}
	    <a href="https://github.com/{{ site.github_username }}">
	      <i class="fa fa-github"></i> 
	    </a>
	{% endif %}
	{% if site.linkedin_username %}
	    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
	      <i class="fa fa-linkedin"></i> 
	    </a>
	{% endif %}
	{% if site.google_plus_username %}
	    <a href="https://plus.google.com/{{ site.google_plus_username }}">
	      <i class="fa fa-google-plus"></i>
	    </a>
	{% endif %}
	{% if site.facebook_username %}
	    <a href="{{ site.facebook_username }}">
	      <i class="fa fa-facebook"></i> 
	    </a>
	{% endif %}
	{% if site.instagram_username %}
	    <a href="https://www.instagram.com/{{ site.instagram_username }}">
	<i class="fa fa-instagram" aria-hidden="true"></i>
	    </a>
	{% endif %}
	{% if site.gmail_address %}
	    <a href="mailto:{{ site.gmail_address }}">
<i class="fa fa-envelope" aria-hidden="true"></i>
	    </a>
	{% endif %}
	{% if site.reddit_username %}
	    <a href="https://www.reddit.com/user/{{ site.reddit_username }}">
<i class="fa fa-reddit" aria-hidden="true"></i>
	    </a>
	{% endif %}
</div>
</center>